
  <div class="dx-field">
    <div class="dx-field-label">Estado</div>
    <div class="dx-field-value">
      <dx-select-box
        #selectBoxEstado
        [dataSource]="estado"
        [displayExpr]="'display'"
        valueExpr="'sigla'"
        [value]="estadoPadrao"
        [inputAttr]="{ 'aria-label': 'Estado' }"
        (onValueChanged)="ListaCidade($event.value)">
      </dx-select-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Cidade</div>
    <div class="dx-field-value">
      <dx-select-box
        #selectBoxCidade
        [dataSource]="cidade"
        displayExpr="nome"
        valueExpr="nome"
        [inputAttr]="{ 'aria-label': 'Cidade' }"
        (onValueChanged)="selecionarCidade($event.value)">
      </dx-select-box>
    </div>
  </div>


